
table {
    border-collapse: separate !important;
}

.room-title {
    background-color: blue;
    color:white;
    margin-left: 40px;
    margin-right: 40px;
    padding:20px;
    text-align:center;
    margin-top: 20px;
}

.calendar {
    margin-left: 40px;
    margin-right: 40px;
}

.head-calendar{
    text-align:center;
    background:white;
    color:black;
    font-size:24px;
}

.table-calendar{
    background-color: white;
}

.table-calendar th {
    border-bottom: 2pt solid rgb(221, 221, 221) !important;
    font-weight: 500 !important;
}

.table-calendar td {
    height: 150px;
}

.form-group{
    margin-bottom: 1rem;
}

.form-group label{
    font-weight: 500;
}

.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#dc3545;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
    margin-left:2px;
}

.float-left{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    left:40px;
    background-color:#04AA6D;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    border:0px;
}

.my-float-left{
	margin-top:0px;
    margin-left:2px;
}
